[2015-03-12 23:05] nanoxd opened #1 "Swift compatibility"
Hi,

I was trying to get this setup on a Swift project and noticed that it wouldn't allow me to use the tableView delegate using `BLKDelegateSplitter` or through `myBar.behaviorDefiner)

Inspecting the object leads me to believe that it doesn't understand how to cast it as UITableView delegate on either end. Here are the forms I've tried:

* `tableView.delegate = self` displays the bar but does no

[2015-03-13 03:48] sibinbk opened #2 "Changing height of the bar"
Hi Bryan,
First of all great work. This library is awesome.

Is there any option to change the height of the bar by swiping over the bar (or any other action on the bar itself) rather than scrolling the tableview? Since my project requires the bar to cover the whole view initially, scrolling tableview is not an option for me.

Thanks.

[2015-03-13 04:05] bryankeller commented on #1
Hi nonoxd,
I'll look into this issue this weekend. I definitely want this to be useable in swift projects, so expect compatibility in the near future.

[2015-03-13 04:08] bryankeller commented on #2
Thanks for the kind words!
BLKFlexibleHeightBar has a readwrite property `progress`. You're free to set this from wherever you have access to the bar. Additionally, BLKFlexibleHeightBarBehaviorDefiner, and all subclasses, have methods to "snap" to a progress. You can setup a gesture recognizer to call this method, or directly adjust the `progress` property when appropriate.

[2015-03-13 04:33] sibinbk commented on #2
Thanks for the quick reply.
I did try to change the value of 'progress' already but it does not change anything. Here is the code I tried.

In viewDidLoad I added two gesture recognizers for Up/Down swipe.
- (void)viewDidLoad
{
    UISwipeGestureRecognizer *swipeUp = [[UISwipeGestureRecognizer alloc] initWithTarget:self action:@selector(upSwip:)];
    [swipeUp setDirection:UISwipeGestureRecognizer

[2015-03-13 04:38] bryankeller commented on #2
self.myCustomBar.progress = 0.0;
[self.myCustomBar layoutIfNeeded];
after setting the progress should do the trick!

[2015-03-13 04:57] sibinbk commented on #2
Hi Bryan,
Changing 'progress' value is still not working for me.
But I tried to modify the 'snap' value and works like a charm.

   - (void)upSwip:(UISwipeGestureRecognizer *)gesture
   {
      [UIView animateWithDuration:0.5 animations:^{
          [self.myCustomBar.behaviorDefiner snapToProgress:1.0 scrollView:self.tableView];
      }];
      NSLog(@"Swiped up");
  }

Once again thank you so muc

[2015-03-13 05:40] bryankeller commented on #2
My apologies, you can set the progress directly but you must follow it with
[self.flexibleHeightBar setNeedsLayout];
Sorry about that!

[2015-03-13 05:41] #2 closed

[2015-03-13 09:45] sibinbk opened #3 "Scroll resistance between tableview and FlexibleHeightBar"
Hi Bryan,

Is it possible to add a scroll resistance (rubber band effect) between the FelexibleHeightBar and the tableview? What I mean is the Bar should stays at the minimum height until the tableview is pulled down and top of the tableview reaches some distance from the bottom of the bar. Most of the pull to refresh libraries adds this type of effect.
I believe this feature is not the scope of t

[2015-03-13 15:40] nanoxd commented on #1
Thanks, let me know if you need anything from me.

[2015-03-13 16:28] rabzu commented on #1
Hi,
I'm trying to use your project in swift. I downloaded the project using cocoapods and then set up a bridging header with:

#import "BLKFlexibleHeightBar.h"

This compiles fine. Editor in my ViewController sees BLKFlexibleHeightBar class. However, when I start to create BLKFlexibleHeightBar like below:

        var myBar = BLKFlexibleHeightBar(frame: frame)

I get an error:
    Use of unresolve

[2015-03-13 16:33] nanoxd commented on #1
@rabzu You need to specify `import BLKFlexibleHeightBar` at the top of the swift file you want to import it into.

[2015-03-13 16:36] rabzu commented on #1
@nanoxd thank you for your response. When I try that I get error:
No Such Module 'BLKFlexibleHeightBar'

:(

[2015-03-13 16:37] nanoxd commented on #1
@rabzu Make sure you use `#import <BLKFlexibleHeightBar/BLKFlexibleHeightBar.h>` in the bridging header if you are using cocoapods

[2015-03-13 16:45] rabzu commented on #1
I just tried that but the No Such Module 'BLKFlexibleHeightBar'  error remains. :(

[2015-03-13 16:50] nanoxd commented on #1
@rabzu Have you tried cleaning the build folder? Option+Shift+Command+K

[2015-03-13 16:56] rabzu commented on #1
Yes, I even deleted Derived Data manually. But still not luck. Am I not doing do
![screen shot 2015-03-13 at 16 54 48](https://cloud.githubusercontent.com/assets/6705064/6643131/d2cada7c-c9a1-11e4-8558-20f7a5ba30ad.png)

[2015-03-13 16:58] nanoxd commented on #1
What does your podfile look like?

[2015-03-13 17:01] rabzu commented on #1
This is my Podfile and Podfile.lock
![screen shot 2015-03-13 at 17 00 30](https://cloud.githubusercontent.com/assets/6705064/6643224/84f2fb76-c9a2-11e4-913a-091275647bb3.png)

[2015-03-13 17:03] nanoxd commented on #1
@rabzu There's an update for cocoapods 0.36 stable. To use cocoapods with Swift, you must add `use_frameworks!` to your Podfile

[2015-03-13 17:10] rabzu commented on #1
@nanoxd thank you sow much!!!! I'm new to this

[2015-03-13 17:18] nanoxd commented on #1
No problem!
![high-five-yourself](https://cloud.githubusercontent.com/assets/1889575/6643535/36974014-c96a-11e4-8cd5-8e06f52c350c.gif)

[2015-03-13 18:28] bryankeller commented on #3
That's a cool idea! You can definitely make something like that with a custom behavior definer. I had a little time so I put together a solution. The behavior is pretty similar to `SquareCashStyleBehaviorDefiner`, so I just subclassed that. My comments in the code should explain it.

`RubberBandStyleBehaviorDefiner.h`
[code]

and

`RubberBandStyleBehaviorDefiner.m`
[code]

<img src="http://foxweb.

[2015-03-13 18:28] #3 closed

[2015-03-13 21:24] davesegal opened #4 "ios 7 support"
Thanks for the great library! Does it support iOS7? I'm getting a consistent crash when I scroll with iOS7 devices

*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Auto Layout still required after executing -layoutSubviews. BLKFlexibleHeightBar's implementation of -layoutSubviews needs to call super.'

[2015-03-14 05:53] bryankeller commented on #1
I think the proper solution is to subclass the behavior definer you want to use and make it conform to UITableViewDelegate (or whatever other delegate protocol is appropriate in your scenario). Here's the basic idea if you're using CocoaPods:

Add a new Objective-C Cocoa Touch class and call it something appropriate (and probably far too wordy and descriptive) like `SquareCashStyleBehaviorDefinerF

[2015-03-14 07:29] bryankeller commented on #4
Hi Dave,

I wasn't able to reproduce this issue. Here are the steps I took - tell me what I'm missing and I'll go back and investigate more.

0. Download demo project
1. Change Deployment Target to iOS 7.1
2. Change Base SDK to iOS 7.1
3. Run on iOS 7.1 iPhone 5c simulator

Both the Square Cash demo and Facebook demo worked fine for me. Are you adding the bar in interface builder? If so, it might

[2015-03-14 09:23] sibinbk commented on #3
That's awesome. It works but still require some tweaks. I will try to sort it out and let you know soon.

Thanks.

[2015-03-15 19:59] rabzu commented on #1
I tried this and it works. Thanks

[2015-03-15 20:02] bryankeller commented on #1
Happy to hear! 👍

[2015-03-16 13:12] rabzu commented on #1
Similar approach also works with BLKDelegateSplitter.

[2015-03-16 15:28] nanoxd commented on #1
@bryankeller Thanks for the update. I didn't get a chance to try it out yet but I'll report back with my findings when I do.

[2015-03-16 15:29] iRambax commented on #1
There is also another simple way to fix tableView delegate issue. Just changed it from:

@interface BLKDelegateSplitter : NSObject <NSObject>
to:
@interface BLKDelegateSplitter : NSObject <UITableViewDelegate>

[2015-03-16 17:16] rabzu commented on #1
@iRambax that does not work for me

[2015-03-16 17:37] kyco16 opened #5 "What if there is navigationBar present?"
I have a UIViewController inside a `UINavigationController` as well as `UITabBarController`. I have 2 `UIViews`, one being the month name and the other being a weekly view. I obviously have a `navBar` that contains 3 `UIBarButtonItems`. How would I go about configuring this flexible height bar to work with the `navBar` and my two `UIViews`, which are all set in the storyboard?

[2015-03-16 19:41] iRambax commented on #1
@rabzu any error message? Here is the way I use it on my Swift project which works fine:

let behaviorDefiner = SquareCashStyleBehaviorDefiner()
...
delegateSplitter = BLKDelegateSplitter(firstDelegate: behaviorDefiner, secondDelegate: self)
tableView.delegate = delegateSplitter

[2015-03-16 20:05] davesegal commented on #4
I have a UIView in IB that has constraints ( in this case a ratio constraint). In code I am adding that view as a subview of the BLKFlexibleHeightBar. Works wonderfully in iOS8 for iOS7 crashes.

In general do layout constraints conflict with the BLKFlexibleHeightBar?

[2015-03-17 03:45] bryankeller commented on #5
On the view controller that you want to use this, you'd have hide the built in navigation bar and programmatically add a BLKFlexibleHeightBar.

If you absolutely need the built in navigation bar with bar button items (rather than a BLKFlexibleHeightBar with subviews), then this solution might not be the best one for your needs.

[2015-03-17 03:45] #5 closed

[2015-03-17 03:49] bryankeller commented on #4
Did you add the BLKFlexibleHeightBar as a subview of your table view / scrolling view?

[2015-03-17 04:48] davesegal commented on #4
I'm adding the BLKFlexibleHeightBar to the VC's main view like in the example.

[2015-03-17 06:30] bryankeller commented on #4
I was able to reproduce the issue by adding a constraints to the bar for one of its subviews. Same crash occurs on iOS 7 but not iOS 8. I'll look into this more soon and hopefully figure out a fix.

Supporting auto layout based layout attributes is a goal for the future too, so this is a good way for me to start looking into that as well.

[2015-03-17 13:54] davesegal commented on #4
Thanks!
On a related note, I noticed a strange problem with UISegmentedControl. I am adding a UISegmentedControl as a subview of BLKFlexibleHeightBar. I was able to get BLKFlexibleHeightBar to work on iOS7 when I removed the constraints and used BLKFlexibleHeightBarSubviewLayoutAttributes to define transitional attributes of the UISegmentedControl (in this case only the "center" property). However

[2015-03-17 19:33] rabzu commented on #1
I made work now, thanks :+1:

[2015-03-19 07:45] ajkiosd opened #6 "proxy object"
hi
first thanks for your great work.
i have problem when use UITebleView and want to use my scrollViewDelegate.
i suggest to implement like this control:

https://github.com/ninjinkun/NJKScrollFullScreen

    _scrollProxy = [[NJKScrollFullScreen alloc] initWithForwardTarget:self]; // UIScrollViewDelegate and UITableViewDelegate methods proxy to ViewController
    // and in NJKScrollFullScreen Clas

[2015-03-19 07:53] bryankeller commented on #6
Hi @ajkiosd,

I'm not exactly sure what issue you're having. Are you having trouble using BLKFlexibleHeightBar since it uses the UITableView's delegate?

If this is the case, have a look at BLKDelegateSplitter. It will let you user your view controller as one UITableViewDelegate and BLKFlexibleHeightBar as the other.

[2015-03-19 07:59] ajkiosd commented on #6
yes it was my problem.
now i see BLKDelegateSplitter.
i apologize for that. :)
thanks

[2015-03-19 08:00] bryankeller commented on #6
Glad that helped =)

[2015-03-19 08:00] #6 closed

[2015-03-19 11:32] fatgue opened #7 "problem with deleting tableview rows"
Hi,

first thanks for the great work. Your code is exactly what i need.
But i have a problem by deleting tableview rows.

If i have 3 or 4 bigger cells on my tableview and if i want delete them, the BLKFlexibleHeightBar don't
scroll down automatically to "maximumBarHeight". I have to scroll down manually to see the bar again.
Is there any solution for my problem? the red bar above is the navigatio

[2015-03-21 00:51] bryankeller commented on #7
You could create a custom behavior that monitors the table view and adjust's the bar's progress based on cells being removed.

[2015-03-22 02:03] iRambax opened #8 "Problem with Grouped TableView"
Thanks for this great library. Please add the following code to the SquareCashStyleViewController.m in the demo project to replicate the issue:

- (NSInteger)numberOfSectionsInTableView:(UITableView *)tableView
{
    return 2;
}

- (NSString *)tableView:(UITableView *)tableView titleForHeaderInSection:(NSInteger)section
{
    return @"This view will be out of place";
}

The group's header view doe

[2015-03-23 06:59] bryankeller commented on #8
Thanks for pointing this out. It definitely has something to do with the contentInset of the table view. I'll look into this more soon.

[2015-03-23 07:01] bryankeller commented on #1
Glad you guys got it working!

[2015-03-23 07:01] #1 closed

[2015-03-24 00:10] isaacroldan commented on #8
I noticed this too, tried to do some workarounds with my own behavior definer but didn't get perfect movement.

[2015-03-24 05:30] rtrivedi commented on #1
I'm trying to get this to work for my collectionview in swift but the header doesn't seem to shrink when I scroll. Here is a snippet of my code, any help would be appreciated!:

![screen shot 2015-03-23 at 10 28 50 pm](https://cloud.githubusercontent.com/assets/4014683/6796215/2b91b326-d1ac-11e4-866f-5f06fadd4ec1.png)

[2015-03-24 05:35] rtrivedi commented on #1
@rabzu Do you have a working swift project with the SquareCashStyle header?

[2015-03-24 16:44] rtrivedi commented on #1
@iRambax looks like you also mention that you've got this to work in Swift. Any idea how I can make this work?

Thanks!

Ronak

[2015-03-25 00:00] iRambax commented on #1
@rtrivedi in your Swift project just make sure self.collectionView.delegate is not nil by following my two previous posts. You do not need to change anything else.

[2015-03-26 00:39] rabzu opened #10 "Incorrect NavBar behaviour"
I noticed that when tableview has less than three cells FacebookStyleBar misbehaves. I got this behaviour in my code as well as the provided demo code in this repository. However it works fine when there are lot of cells

Am i missing something?

[2015-03-26 00:54] bryankeller commented on #10
You're not missing something - it's definitely a bug in the behavior definer. I'll have a look and get this fixed!

[2015-03-26 00:57] rabzu commented on #10
thanks

[2015-03-26 06:24] bryankeller commented on #10
https://github.com/bryankeller/BLKFlexibleHeightBar/commit/f95f746c96ffac618fa0ed4bfdf6524ef3b3b484 fixes this. Thanks again for pointing this out to me!

[2015-03-26 06:24] #10 closed

[2015-03-26 07:42] rabzu commented on #10
thanks, it works nicely

[2015-03-28 12:36] rabzu opened #11 "why does BLKFlexibleHeightBar work with UITableViewControllers"
Is there any reason as to why BLKFlexibleHeightBar wont work with UITableViewControllers.

[2015-03-28 20:54] #11 closed

[2015-03-30 06:20] liuxuan30 commented on #4
iOS 7 and iOS 8 has different internal implementation for layouting subviews by Apple, which I think is related to this odd issue.
There is a famous error message:
`Auto Layout still required after sending -viewDidLayoutSubviews to the view controller` on iOS 7 device. Your error message looks similar, but slightly different. You can google your error log for a solution.

For `Auto Layout still re

[2015-03-30 06:29] liuxuan30 commented on #4
@davesegal, you might want to check your view controller code first and try my solution above to see if you still crash.

[2015-03-30 06:38] bryankeller commented on #4
Thanks @liuxuan30 - I think the problem is in the actual bar's code. Quick workaround for now is to change BLKFlexibleHeightBar's -layoutSubviews to this:

[code]

Note the
[code]
at the bottom. I need to investigate this more before I merge a fix into master. I'd like to understand what's actually going on.

[2015-03-31 02:15] liuxuan30 commented on #4
@bryankeller I strongly recommend you to have a full test on this fix, because `[self layoutIfNeeded]; ` might trigger one more view layout procedure you may not want. Some code will potentially get exeucted one more time and get unwanted results, which I do had. That's why you see I got a macro and a version check, only iOS 7 needs explicit [self layoutIfNeeded]; from what I have tested so far.

[2015-03-31 02:16] bryankeller commented on #4
@liuxuan30, agreed. Won't be merging anything into master until I know what's actually going on.

[2015-04-01 14:17] rabzu opened #12 "Can SquareCashStyleBehaviorDefiner have negative progress"
Is there anyway I can make elements in the navbar animate when SquareCashStyle navbar is expanded downwards?

[2015-04-01 18:42] bryankeller commented on #12
This is on my todo list. Once I support auto layout constraints for subviews, then this should be easy to do.

[2015-04-02 20:49] rtrivedi commented on #1
Hi all, I just wanted to follow up so that other people in a similar situation can benefit from my investigations. It turns out, what I needed to do to get this to work is wrap my tableview in a UIViewController. That was the key. Otherwise adding the header to the self.view (when using a tableviewcontroller) didn't work.

Finally, I made the following additions to my uiview controller:

    func

[2015-04-02 21:31] rabzu commented on #1
My tableview delegate does not work when using BLKDelegateSplitter

@iRambax  when you define a delegate splitter in swift like this

let behaviorDefiner = SquareCashStyleBehaviorDefiner()
delegateSplitter = BLKDelegateSplitter(firstDelegate: behaviorDefiner,  secondDelegate: self)
tableView.delegate = delegateSplitter

does the tableview delegate work?

[2015-04-02 21:48] kylebshr opened #13 "BLKDelegateSplitter does not work for scrollView delegate calls"
I'm attempting to implement `scrollViewDidScroll` for my UITableView, but the splitter doesn't work with it for some reason. If I set my delegate like this, `scrollViewDidScroll` is called: `tableView.delegate = self`. But if I set it to the splitter, the scrollview method isn't called, even though the TableView Delegate methods are called:

    delegateSplitter = BLKDelegateSplitter(firstDelegate

[2015-04-02 21:51] kylebshr opened #14 "Table View Headers — how to implement?"
I'm currently having my UITableView fill the view entirely, and setting the content inset to the max height of my flexible bar. This works great without headers, but when I have section headers on my tableview, they are pushed down due to the content inset. Is there a proper way to do this, or do I need to do something hacky? See the photos for details of what I mean.
![Before scroll](https://clou

[2015-04-02 22:54] rabzu opened #15 "Delegate splitter does not work"
I don't think delegate splitter works. You have the following code in your SquareCashStyleViewController demo:

self.delegateSplitter = [[BLKDelegateSplitter alloc] initWithFirstDelegate:behaviorDefiner     secondDelegate: self];
self.tableView.delegate = (id<UITableViewDelegate>)self.delegateSplitter;

tableview delage functions does not work such as:
- (void)scrollViewDidScroll:(UIScrollView *)s

[2015-04-02 22:55] rabzu commented on #1
For swift people, I think this is the best option to make it compatible with swift:
extension BLKDelegateSplitter: UITableViewDelegate{}

[2015-04-03 00:09] kylebshr commented on #13
It seems like this works if you make the firstDelegate: self — I still feel this is buggy behavior

[2015-04-04 01:28] bryankeller commented on #15
I'm seeing the same issue. Looking into it now. Thanks for pointing this out.

[2015-04-04 05:34] #15 closed

[2015-04-04 05:40] bryankeller commented on #13
This is fixed now. Thanks for bringing my attention to this issue.

[2015-04-04 05:40] #13 closed

[2015-04-04 05:42] bryankeller commented on #14
Awesome looking app. I'm looking into this now.

[2015-04-04 05:57] kylebshr commented on #14
Great, thank you! To be clear, these are the headers from a .Grouped style UITableView.

[2015-04-04 06:43] bryankeller commented on #14
So I know what the issue is, but it's going to take me a few days to find the time to implement a good fix. I'll keep you posted.

[2015-04-04 16:20] kylebshr commented on #14
Good to hear! No rush. I tried to use the scrollViewDidScroll method in the behavior definer to set the insets when it was scrolled, but this was unreliable.

[2015-04-05 03:26] kylebshr opened #17 "A method to set the progress to 0 would be nice"
I'm using a flexBar in a view with two tableViews, and I have the following (self inflicted) issue — when I scroll down the first tableView, it collapses the bar. But when I switch to the second view, the bar is still collapsed, and can't be pulled down (see my video). Both of the scroll views delegates split to the flexBar, which actually seems to work fine except for this small thing. A simple f

[2015-04-05 12:11] paarapp opened #18 "Bar covers UITableView"
I am currently building an app using Swift and the UITableView takes a place an entire view.
When I apply the bar, the bar overlaps the top of the tableview covering first cell, not like examples GIFs.
Is there a built-in way to solve this problem?

Thanks :)

[2015-04-05 15:10] plandem commented on #18
same for me. object-c

[2015-04-05 22:20] bryankeller commented on #18
@paarapp Have you set the contentInset of your table view to maximumBarHeight?

@plandem It's really hard for me to tell what's going on in that picture. Is the yellow view part of the header? Can you reproduce the issue in one of the included example projects?

[2015-04-06 00:15] bryankeller commented on #17
Thanks for the video explaining the issue. `progress` is a readwrite property of `BLKFlexibleHeightBar`, so you could just manually set that to 0.0 when appropriate.

You could also look at
[code]

in `BLKFlexibleHeightBarBehaviorDefiner`.

[2015-04-06 00:31] kylebshr commented on #17
I'll look into snapToProgress. The problem with setting the progress is that it doesn't change it until the scroll view is scrolled again. Is that expected behavior?

Sent from my iPhone

[2015-04-06 00:35] bryankeller commented on #17
After setting the progress, you need to let the bar know that it needs to be re-laid out. Do this using
[code]

In hindsight, setting progress on the bar should automatically call
[code]

My next release will likely fix this.

[2015-04-06 00:44] kylebshr commented on #17
So close to perfect! But setNeedsLayout doesn't animate. I'll try adding that myself. Unless there's a way to do that and I'm missing it?

Sent from my iPhone

[2015-04-06 00:46] bryankeller commented on #17
Call
[code]

right after. Let me know if that works!

[2015-04-06 00:50] kylebshr commented on #17
Same as before. Thanks so much for looking into this!

Sent from my iPhone

[2015-04-06 00:56] bryankeller commented on #17
In `FacebookStyleViewController` from the demo project in the repo, I add this:
[code]

And it animates fine. What's different on your end?

[2015-04-06 02:11] plandem commented on #18
yes, yellow background, as i said, is actual bar height. Your demo works well, but it doesn't have any data. In my case it's table without sections and with dynamic content.

[2015-04-06 02:15] plandem commented on #18
Here is actual code. Actually it's almost same as at your readme.
[code]

[2015-04-06 04:29] bryankeller commented on #18
@plandem In your specific case, there might be 2 things going on. Here's what I noticed experimenting with your code:

If you do
[code]

before

[code]

then when the view loads, the table view seems to be scrolled down from the top by 150 points. Not sure why this is happening, but it definitely makes it look like the bar is overlapping the table view. If you scroll to the top, then there's no ov

[2015-04-06 05:32] plandem commented on #18
well, i commented:
[code]

and still same result! nothing changed

[2015-04-06 05:35] bryankeller commented on #18
In that case, I'll need some more info, as I cannot reproduce the issue with the code you provided.

[2015-04-06 05:41] plandem commented on #18
Here is captured video:
https://www.dropbox.com/s/nre6w93s35vhl9n/bar%20bug.mov?dl=0

I don't know what i must provide more :( Rest of controller - just common controller :(

[2015-04-06 05:44] bryankeller commented on #18
Thanks for making the video. To me, it looks like you're adding the BLKFlexibleHeightBar as a subview of the table view, causing it to not only grow and shrink, but also move up and down as you scroll. Is this the case?

[2015-04-06 05:46] plandem commented on #18
It's tableView controller, and code of 'adding' process i already posted.

[2015-04-06 05:46] plandem commented on #18
here is link when there is no inset:
https://www.dropbox.com/s/8ycfaw3o8yaolpk/bar%20without%20inset.mov?dl=0

[2015-04-06 05:53] bryankeller commented on #18
@plandem Ah! There's the problem. In a subclass of `UITableViewController`, `self.view` is the table view. So when you do `[self.view addSubview:_viewHeader]`, you're really adding it to the table view, causing it to scroll and overlap cells.

Your video showing no insets set confirms this, as setting the insets of the table view should have no effect on the frame of the bar.

[2015-04-06 05:55] plandem commented on #18
so is there any workaround? except of swap tableViewController with viewController?

[2015-04-06 05:59] bryankeller commented on #18
That would be my recommendation. A quick google search reveals that it's a common source of confusion. http://stackoverflow.com/questions/4641879/how-to-add-a-uiview-above-the-current-uitableviewcontroller

Seems like you have a bit more control over the view hierarchy if you just use a UIViewController and manage the table view yourself, as I do in the demo projects. Maybe another solution will w

[2015-04-06 06:01] plandem commented on #18
Of course for that screen exactly i will move everything to viewController. But it's better to patch the readme and inform that tableViewController is not supported

[2015-04-06 06:44] plandem commented on #18
Well, i replaced tableViewController with viewController and here is result:
https://www.dropbox.com/s/paqpxr7pvv1iy0u/bar%20label.mov?dl=0

There is the only problem - label is not moving, only scaling. But at your video from readme (i took almost everything from there to repeat), label is moving top when scaling.

[2015-04-06 06:58] bryankeller commented on #18
@plandem Glad you got things working. The issue you're talking about now should really be its own separate issue. I don't want @paarapp 's post to get completely off topic =)

I you look carefully, your label is in fact being moved up. However, since it's so big, it's a little hard to tell. I played with it for a few minutes and

[code]

looked pretty good. Good luck.

[2015-04-06 07:10] plandem commented on #18
yeah, i sticked with -80.0f :) Looks like everything is fine now :) But still, please, fix readme :)

[2015-04-06 07:27] bryankeller commented on #18
A clarification note has been added for those who might run into this issue. Glad you got everything working!

[2015-04-07 04:39] paarapp commented on #18
Thanks for the input.
contentInset worked for me! Closing the issue :)

[2015-04-07 04:39] #18 closed

[2015-04-07 04:40] bryankeller commented on #18
Glad to hear! =)

[2015-04-07 14:20] Urkman commented on #1
It would be great to have a Swift Sample Project :)

[2015-04-07 14:34] rabzu commented on #1
I can do that, but where should I upload?

[2015-04-07 17:16] bryankeller commented on #1
You can submit a pull request. Make sure the example is simple and easy to understand. Model it off of the example projects included or even the example in the README.md.

This might also be a good place to use a delegate splitter so that people can see how that works.

[2015-04-09 06:06] plandem opened #19 "taps, touchBegan doesn't work anymore"
when i replaced my custom header with flexible, then any taps is not received anymore. I track my taps for custom logic and now it's not catching anymore. Any ideas how to fix?

[2015-04-09 06:10] bryankeller commented on #19
Based on the little info I know about your setup, I can only recommend seeing why/where the touches are getting absorbed. Maybe `userInteractionEnabled` is equal to `YES` on the flexible height bar and you want them to be passed through to the table view or view controller's view? Looking at that property would be a good start.

[2015-04-09 06:17] plandem commented on #19
well, that's another screen, but no matter, when i set:
[code]
any taps inside of table is not working anymore. If set at header userInteractionEnabled to NO/YES - nothing changed (at least for taps inside of table).

[2015-04-09 06:23] bryankeller commented on #19
Where have you overridden `touchedBegan:`?

[2015-04-09 06:25] plandem commented on #19
for my custom tableViewCell. also for one subview of header.

[2015-04-09 06:29] bryankeller commented on #19
And if you place a breakpoint in `touchesBegan:`, it never gets hit? You're sure that it gets hit if you comment out `self.tableView.delegate = (id<UITableViewDelegate>)self.headerView.behaviorDefiner;`?

[2015-04-09 06:30] plandem commented on #19
sure, i already tried it. when comment this delegate setup - everything is working like before!

[2015-04-09 06:42] bryankeller commented on #19
You'll want to look at https://developer.apple.com/library/ios/documentation/UIKit/Reference/UITableViewDelegate_Protocol/#//apple_ref/occ/intfm/UITableViewDelegate/tableView:willSelectRowAtIndexPath:

This problem isn't specific to BLKFlexibleHeightBar - if you set the `delegate` property of your UITableView, then this is the expected behavior.

[2015-04-09 06:54] plandem commented on #19
ok, but how to use your bar if it requires delegate to be replaced?

[2015-04-09 07:01] bryankeller commented on #19
You set the table view's delegate to the behavior definer so that the bar can respond to scroll events. This is the core of how BLKFlexibleHeightBar works.

Your issue has nothing to do with BLKFlexibleHeightBar. Try making another object that conforms to `UITableViewDelegate` and set your table view's `delegate` property to an instance of that class. You'll experience the exact same problem.

I w

[2015-04-09 07:10] plandem commented on #19
1) that delegate has nothing about touches, that table's delegate must implement some methods and non of them about touches

2) if your bar require to change common workflow for something and after that common behaviour will break - than, i'm sure it's bar specific.

Any issue when component that trying to add some new functionality, also remove common functionality - specific to that component. J

[2015-04-09 07:36] bryankeller commented on #19
This doesn't appear to be the case actually. Setting the delegate doesn't cause a change in touch behavior. That being said, I can't reproduce this issue.

Can you double check that `userInteractionEnabled` and make sure that it's `YES` for your table view cell?

[2015-04-09 07:57] plandem commented on #19
i will try to figure out, maybe i'm wrong and problem at something other. i will let you know.

[2015-04-10 05:40] plandem commented on #19
#21 will solve it

[2015-04-10 05:40] #19 closed

[2015-04-10 05:50] bryankeller commented on #19
Did you get a chance to try BLKDelegateSplitter?

[2015-04-10 05:56] plandem commented on #19
hmmm....of course nope, because there is no any information about it at readme. So as i see, same final destination. Of course if i would try i would not do own implementation, but now - what the reason for another class? why not just use 1 additional property only?

[2015-04-10 06:01] bryankeller commented on #19
Yeah that definitely should be in the README, shouldn't it! I'll update that =)

I kept it as a separate class for the sake of making the separation of responsibilities a bit clearer. In practice is probably doesn't make much difference.

[2015-04-10 06:04] plandem commented on #19
ok, but than it's better to 'patch' you splitter to support 'conformsToProtocol', because in some cases it can be used too (Apple doesn't check, but at some logic of UIViewController it can be easily)

[2015-04-10 06:17] bryankeller commented on #19
That's a good idea. I'll add that in soon. I totally agree that it would be useful to check the delegate splitter for protocol conformance. Thanks for pointing this out!

[2015-04-10 13:20] plandem opened #22 "how to fix tableview scrolling?"
Before i integrated flexible bar, my table scrolled at correct position for cell via:
[code]

first reload - refresh cell and change the height of row, but scrolling after that is not working anymore.
here is video:
https://www.dropbox.com/s/bp937vhsm3izvru/bug%20scroll.mov?dl=0

correct position - when editor is fit totally to screen. How to fix it? i don't wanna to remove your bar, because i alr

[2015-04-13 15:16] weibel commented on #14
If any of you have an idea for a good solution to this issue I would be terribly happy to see it :-) I could use it right now. Manipulating the insets in scrollViewDidScroll does not look good.

[2015-04-13 18:38] bryankeller commented on #22
Hey @plandem, I'm not exactly sure what the issue is. After you change the height of one of your cells and refresh the table view, scrolling doesn't work afterward? Looking at your video, it looks like you scroll after the cell's height grows. It's tough for me to see what the issue is based on the video.

Can you clarify a bit more about what is happening after the cell height changes?

[2015-04-13 18:40] bryankeller commented on #14
It's still on my agenda, but I'm really busy this month. If anyone wants to implement a fix, try to do so in BLKFlexibleHeightBarBehaviorDefiner - this is the base class that all others inherit from, so it would be nice if it can be fixed in one place. Pull requests are welcome =)

That being said, I'll look into this again as soon as I get the chance.

[2015-04-14 00:19] kylebshr commented on #14
I don’t know too much Objective-C, but I have an idea. I’ll pull and give it a shot.

[2015-04-14 04:01] plandem commented on #22
here is some snippets.

height:
[code]

select:
[code]

real selection:
[code]

so here is steps:
1) on select i retain selected row
2) i reload this row
3) during reload i return new height for that row
4) i scroll at that row (row already has new height)

Without your bar, scrolling worked as needed. but now it's not scrolled enough. and im not sure how to fix it.

[2015-04-14 04:37] bryankeller commented on #22
Thanks for providing more info. I figured out the problem, and as far as I can tell, it has nothing to do with BLKFlexibleHeightBar. The problem happens when you set the `contentInset` of your table view - something that you probably want to do when using BLKFlexibleHeightBar.

Here's a demo project that I made to test my hypothesis. I set the `contentInset` in `viewDidLoad:`.
https://www.dropbox.

[2015-04-14 06:07] plandem commented on #22
but in other cases(i mean scrolling) contentInset is not a problem? do u dynamically recalc it?

[2015-04-18 12:05] plandem commented on #22
well, i still puzzled. i just tried to log "contentOffset" and it's same after 'scrollToIndexPath'!!!
[code]

[2015-04-18 12:06] plandem commented on #22
looks like scrollToRowAtIndexPath does not touch the contentOffset

[2015-04-18 12:58] plandem commented on #22
and im still sure it's your bar specific task (again). Because in other case i would not use contentInset, and would use tableViewController that already has autoAdjustContentInset. My idea - if you make user to do something (like add contentInset), then its your component specific after that. Because without this 'something' your component will not work correctly.

[2015-04-19 05:56] plandem commented on #22
well, i gave up finally. i tried alot, and still no success. The most problems at top of scrollview - when i try to expand row and bar is visible same time. Here is my last try:

[code]

[2015-04-19 05:58] plandem commented on #22
and my point is still same - it's bad idea to make people to reimplement TableView behaviors (like scrollToIndexPath) just to make your component work properly. So i will stay with common header now. I already spent more than enough time for it.

[2015-04-19 06:35] bryankeller commented on #22
@plandem, this appears to be the intended behavior of UIScrollView. Play around with the demo I posted. If you set the `contentInset` property of the UITableView to 200.0 and then do

[code]
Then item 10 will not be aligned to the top edge of the scroll view, but rather, the top inset. This seems to be the right behavior.

If you are proposing that I compensate for this built in, completely unrela

[2015-04-19 07:01] plandem commented on #22
man, i understand you position about that's it's not component specific. but let's consider this:
1) proposed that your component works fine with (UITableView, UICollectionView) - and here i don't even mention anything about UITableViewController.

2) we have UITableView(yes, it's scrollView inside, but does not matter here), for example. with built-in header and want to use your component to add

[2015-04-19 07:25] plandem commented on #22
to summ:
UITableView/UICollectionView are not UIScrollView. It's subclass of it with own features and workarounds about these features. If insist that, user must consider UITableView/UICollectionView as UIScrollView and forget about this features and own workarounds to get same functionalities, that i have nothing to say. That's my point.

[2015-04-19 07:53] bryankeller commented on #22
BLKFlexibleHeightBar makes no attempt to adjust the scroll view content inset. Whatever value it's set to when you first configure the bar is what it will always be. This is the root of the issue you're experiencing.

Maybe the BLKFlexibleHeightBarBehaviorDefiner should adjust this? I'll look into it more when I get the chance. Although this is totally expected behavior of UIScrollView and all sub

[2015-04-19 09:53] plandem commented on #22
Well, to support UITableView you must not consider table like isolated UIScrollView with only rows, because that's not true. That's UIScrollView that has: a) header, b) some rows c) footer. If i want to add some neat features to UITableView's header, then i must respect it and know about it. You advise move out header of UITableView, i.e. make it holds only rows. Sometimes it can work. I would adv

[2015-04-20 07:41] liuxuan30 commented on #8
any updates for this? I synced to latest code but still not got fixed yet.

[2015-04-20 07:48] bryankeller commented on #8
For people following this, I'm still looking into this. There's a pull request open right now that seems to partially fix it. It works for the Facebook behavior definer but not the square cash one. I'll get around to looking at that hopefully in the near future, but until then, anyone else is welcome to have a look.

[2015-04-20 09:02] liuxuan30 opened #24 "Can we display the FlexibleHeightBar when user just scroll up, not until to the top?"
Can we start to display the FlexibleHeightBar when user just scroll down, not until to the top? Ideally, when user scrolls down, the height bar will continue to shrink and disappear, and whenever an user start to scroll up, it will trigger the height bar to start expand based on offset(progress), not until user scroll up to top.

[2015-04-20 09:06] bryankeller commented on #24
I think the behavior you're describing can be found in FacebookStyleBehaviorDefiner. Let me know if that works for you.

[2015-04-20 09:08] liuxuan30 commented on #24
Nice! I was looking at cash and forgot the facebook style. Another request is, if I choose this facebook style, can I have a view toggle to top? e.g. in your demo, there is a three column blank view under search bar, I want this blank view stick to top no matter where user scrolls. Can we do that?

[2015-04-20 09:13] bryankeller commented on #24
Sure! That will be configured when you apply layout attributes to your bar's subviews. My Facebook demo configures that subview to slide up and disappear before the rest of the bar, but you can make it look however you'd like.

I'm going to close this since it sounds like your original issue is resolved.

[2015-04-20 09:13] #24 closed

[2015-04-20 09:14] liuxuan30 commented on #24
Could you give the attribute names so I can take a look at it?

[2015-04-20 09:19] bryankeller commented on #24
I think that https://github.com/bryankeller/BLKFlexibleHeightBar#configuring-subviews will help you. Notice how the UILabel moves up and down with the bar.

If you can figure out where you want your "pinned" view to be at `progress == 0.0` and where you want it to be at `progress == 1.0`, then you can make it look like it's pinned. If you only have a full size and a min size state for your bar, th

[2015-04-20 10:31] liuxuan30 commented on #24
I am trying to write a prototype, could you specify what are the two layout attributes?

[2015-04-20 10:56] liuxuan30 commented on #24
I kind of figured out what you mean by 2 layout attribute.
It should be the initial layout and final layout attributes you are talking about.

[2015-04-20 11:28] liuxuan30 opened #25 "How to pin a subview in BLKFlexibleHeightBar"
I am trying to modify the demo FacebookStyleBar.m:

I am looking for that when user scrolls down, the whiteView keeps the height, just moves up along with the blueBarView, not shrinking, and when the blueBarView is out of screen, the whiteView will stay pinned to top screen,

I am trying to modify finalWhiteBarLayoutAttributes.transform to below, which I definitely misunderstood:
[code]
the animat

[2015-04-21 03:32] liuxuan30 commented on #25
Spend lots of time on it, and finally I write a custrom bahavior definer to do my job.

Some key notes are:
1. make sure you set your scroll view's contentInset
2. setup min height equals the pinned view height

Behaviour definer is just the same as the facebook style code. nothing more.

View controller demo code:
[code]

[2015-04-21 07:47] #25 closed

[2015-04-23 10:37] liuxuan30 opened #26 "Cannot reuse initialViewLayoutAttributes?"
I tried to reuse initialViewLayoutAttributes like below:
I have two subviews, and each time I just reuse the initial and final layout attributes. However at run time, I found the self.titleView's initial frame is already same as self.navigationCollectionView.

Can we reuse them?

[code]

[2015-04-24 08:49] Ryannnnnnn opened #27 "How can I snap the progress to 1 right after my FlexibleHeightBar initialized?"
I have a search on top of a UIScrollView, like this:

[code]

but a searchBar is appear in maximum height on the _scrollView... So I add an RACObserve on `searchBar.process` like:

[code]

Logs:

[code]

The searchBar's process snapped to 1, the then confusedly snapped back to 0....

[2015-04-24 12:36] palcalde commented on #27
Just move  [searchBar.behaviorDefiner snapToProgress:1.0 scrollView:_scrollView]; to viewWillAppear.

The problem is that scrollViewDidScroll delegate method gets called internally when gets draw by first time (so after viewDidLoad) to adjust the contentSize to the contentInset, and is there where the library logic is calculating the progress based on the last scrolled point, and since there isn't

[2015-04-24 12:38] palcalde commented on #26
From what I've seen is the way the library works, is not a bug. It doesn't make a copy of the layout attributes everytime you add one to a view, so yes, you need to do a new one for each.

[2015-04-24 12:43] palcalde commented on #22
I am not sure what the entire issue is since the conversation is huge, but can't you just scroll doing:

- (void)scrollRectToVisible:(CGRect)

and pass the rect you want to be visible? That way you don't have to deal with contentInset etc.

[2015-04-24 12:46] plandem commented on #22
nope, if you will see commented code - i tried both: scrollRectToVisible and setOffset too. scrollToIndexRow works correctly, when rest 'scrolls' way - nope.

[2015-04-24 18:41] bryankeller commented on #22
The issue is that the content inset doesn't change. This is related to another issue (on mobile so I can't link it). I'll definitely fix this but I'm pretty busy this week. There's a pull request open for a partial fix. Causes some issues with the square cash behavior defined though.

[2015-04-24 18:46] bryankeller commented on #26
That's correct. Theres a convenience initializer for BLKFlexibleHeightBarSubviewLayoutAttributes To init a new set of layout attributes exactly like an existing one. See initWithExistingLayoutAttributes

[2015-04-25 02:18] liuxuan30 commented on #26
do you consider make it re-usable? kind of verbose when adding the attributes

[2015-04-25 11:27] palcalde commented on #14
Have a look at this and this if solves the issue https://github.com/bryankeller/BLKFlexibleHeightBar/pull/29

[2015-04-27 07:04] Ryannnnnnn commented on #27
@palcalde Thanks. u are right. Since I want to make my search bar looks like a widget, it's unlikely to access to the search bar in `viewWillAppear`. Finally I moved `snapToProgress:scrollView:` to an dispatch block. It works, but Ugly :(

[code]

[2015-04-28 06:53] liuxuan30 opened #30 "snapping issue while switching bewteen UICollectionViews"
I have two tabs, each tab contains a UICollectionView, and a BLKHeightBar as the shared title view.
snap is enabled and set to 0.5 threshold.

tab 1 contains 6 cells and tab 2 containts 20 cells, so normally, tab 1 will always bounce back to progress 0, while tab 2 can snap to 1 and 0.

When I switch to tab 2, scroll tab 2 and make it snap to progress 1, and then I switch to tab 1, while the heigh

[2015-04-28 07:01] liuxuan30 commented on #30
when I tried to set each tab scroll view(UICollectionView to be correct), and I found that I maybe did it incorrectly:
`targetCollectionView.contentInset = UIEdgeInsetsMake(self.navigationBar.frame.size.height, 0, 20, 0);`

The idea is I want to keep the scroll view contentInset consistent, so when the height bar is at minimum height, I still get the correct Inset.

I am trying to use contentOffse

[2015-04-28 07:08] #30 closed

[2015-04-28 07:35] liuxuan30 commented on #12
Currently No. the setter of progress will force it to 0.
[code]

[2015-04-28 09:01] liuxuan30 opened #31 "weird _adjustContentOffsetIfNecessary changed my contentOffset"
I have two tabs, each contains one UICollectionView. I embed SVPullToRefresh in each UICollectionView as well. I set up the snapping by 0.5 threshold for BLK height bar.

tab 1 has 6 cells and tab 2 has 20 cells, so tab 2 could snap to progress 1, while tab 1 cannot.

everytime when switching tab, I will update the UICollectionView like this:
[code]
the second line is to keep consistent while swit

[2015-04-29 08:36] szoszig commented on #1
I checked out your swift sample, and I also implemented it into my app.
Using the extension solves the signed error, but the delegate doesn't work.
I cannot set neither sectionHeaderHeight, nor rowHeight, because it crashes.

"Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[CALayer tableView:heightForHeaderInSection:]: unrecognized selector sent to..."

Any advic

[2015-05-06 01:23] liuxuan30 commented on #27
Well I met another weird issue, my BLK bar stays at progress 1.0, but when switching tabs (UICollectionView Cells), the BLK bar will suddenly change back to progress 0. If I want to keep it at its current progress, any way to do it? It is better to check the state and not put it in a main queue to move it back.

[2015-05-06 08:55] palcalde commented on #27
I'm not sure why the bar resets to 0 on willAppear. Try to put a breakpoint on setProgress and see who calls it and why, I don't see anything in BLK library that changes the progress automatically, so should be somewhere in your code.

You can always use viewWillAppear and do [self.yourBLKBar.behavior snapToProgress:1.0 scrollView:self.tableView]

[2015-05-07 07:38] liuxuan30 commented on #27
https://github.com/bryankeller/BLKFlexibleHeightBar/issues/31, this is my issue and I have know idea why.

[2015-05-16 06:57] bryankeller commented on #17
Any update on your end?

[2015-05-31 14:30] WilliamHua opened #34 "BLKDelegateSplitter causing issues"
Whenever I use BLKDelegateSplitter rather than self.tableView.delegate = self, it is crashing the app on click on on scroll. The error I am getting is:

[code]

When I just assign the delegate to the behaviorDefiner, it also works as intended. I looked through the issues but I couldn't find anything related to this.

I have tried swapping the first and second selector.

I am using version 1.0.2.

[2015-06-01 02:35] liuxuan30 commented on #34
From the trace, seems you are sending scrollViewDidScroll to NSCFString, or NSString? Add a breakpoint to see where the delegate is called.

[2015-06-01 03:23] WilliamHua opened #35 "Using a container view controller with FlexibleHeightBar causes issue when the UITableView is mid scroll"
I am using a UITabBarController to choose between two UIViewControllers with BLKFlexibleHeightBars and UITableView's. Whenever I switch between the two views, the height of the BLKFlexibleHeightBar can be visible (it is of the background color of the bar).

It only disappears when you scroll away.

[2015-06-01 13:02] WilliamHua commented on #34
Sorry but after I put in a breakpoint do I have to type something into the console to see where the delegate is called?

A quick fix I made was just to use my original ViewController as the delegate and call the behaviorDefiner from the ViewController.

[2015-06-02 02:04] liuxuan30 commented on #34
for lldb, type `bt` for back trace or po $obj to check the objects.

[2015-06-02 02:06] liuxuan30 commented on #34
the delegate spliter works fine on my side, but you have to know, if both of your delegates has the same method implemented, only first delegate will get the method call. For example, if both delegates wait for `scrollViewDidScroll`, only first delegate will get the call. So you may need to change the BLK source code to get correct forward.

[2015-06-05 06:51] dorinsimina opened #36 "UITableView not rendered correctly"
Hi all,

I have an issue when adding the navigation bar with an UITableView. When the screen is loaded the table is not correctly rendered below the navigation bar. Once I start scrolling, the navigation bar jumps on top and from that moment the table looks fine.

Can someone has a clue what might be the problem?

![img_0231](https://cloud.githubusercontent.com/assets/5087043/8000854/4f6a3e94-0b68

[2015-06-06 21:29] bryankeller commented on #36
You have to manually set the `contentInset` of your scroll view after you set up the `BLKFlexibleHeightBar`. Check out `-viewDidLoad:` in the demo project's view controllers for more info. Also the README.md covers this. Let me know if that works for you!

[2015-06-06 21:31] bryankeller commented on #35
I'm not exactly sure what the issue is based on your description, but maybe you can do something in -viewWillAppear which will get called each time you switch tabs. Perhaps something needs to be updated?

If you figure this out or think this is a big with `BLKFlexibleHeightBar`, let me know. Also, if you have a demo project feel free to post.

[2015-06-06 21:34] bryankeller commented on #31
Thanks for the detailed explanation. I'll look into this soon.

[2015-06-10 13:49] dorinsimina commented on #36
I've already set:

<code>
self.tableView.contentInset = UIEdgeInsetsMake(self.myCustomBar.maximumBarHeight, 0.0, 0.0, 0.0);
</code>

And prior I have:

<code>
self.myCustomBar = [[NuggetDetailStyleBar alloc] initWithFrame:CGRectMake(0.0, 0.0, CGRectGetWidth(self.view.frame), 300) andText:self.library.name];
</code>
<code>
        SquareCashStyleBehaviorDefiner *behaviorDefiner = [[SquareCashStyleB

[2015-06-12 13:09] fatgue commented on #36
Do you found any solution? I have the same problem.

if tableViewData.count < 4 {
                self.behaviorDefiner.snappingEnabled = true
                UIView.animateWithDuration(0.4, delay: 0, options: UIViewAnimationOptions.TransitionNone, animations: { () -> Void in
                    self.headerView.behaviorDefiner.snapToProgress(0, scrollView: self._imageTableView)

[2015-06-12 13:13] dorinsimina commented on #36
I've changed the tableview created programatically with an auto layout widget from interface builder and it worked.

I didn't have the time to check more deeply a solution for my case in which the tableview was added programatically.

[2015-06-12 14:43] fatgue commented on #36
ok this worked for me now

UIView.animateWithDuration(0.4, delay: 0, options: UIViewAnimationOptions.TransitionNone, animations: { () -> Void in
                        self.headerView.behaviorDefiner.snapToProgress(0, scrollView: self._imageTableView)
                        self._imageTableView.setContentOffset(CGPointMake(0, -280), animated: false)

                    }, completion: { (finishe

[2015-06-19 08:04] #36 closed

[2015-06-22 09:48] dorinsimina opened #39 "BLKDelegateSplitter crash"
I don't have a scenario yet to reproduce the crash, but sometimes I receive this:
[BLKDelegateSplitter scrollViewDidScroll:]: unrecognized selector sent to instance 0x18380150

Does anyone have a fix for it?

[2015-06-24 01:16] AmarJayR opened #40 "How to handle device rotation?"

[2015-06-24 01:28] #40 closed

[2015-07-01 10:45] Tiance opened #41 "UI"

[2015-07-01 10:49] #41 closed

[2015-07-06 10:31] #7 closed

[2015-08-06 08:25] anwol004 opened #42 "Not working with Swift"
Hello i try to use this repo but this is not working in swift.

Gives an problem with the tableview.delegate downcast, has anyone  solution for this problem?

Greetz

[2015-08-06 13:54] PathonHauser commented on #42
Yeah, I think all you have to do is extending BLKDelegateSplitter with the protocol you want to use. In your case UITableViewDelegate.

[2015-08-07 09:12] tukzi opened #43 "delegate"
the delegate is not self ,how could response the didSelectRow event?

[2015-08-07 09:20] liuxuan30 commented on #43
use delegateSplitter may help

[2015-08-07 22:00] bryankeller commented on #43
@tukzi: @liuxuan30 is right, use the delegate splitter for this. This is an issue because of UICollectionViewDelegate "inheriting" from UIScrollViewDelegate. Let us know if the delegate splitter works for you!

[2015-08-12 14:16] anwol004 opened #44 "CollectionView Problem"
Hello i have a problem with a collectionView in BLKFlexibleHeightBar.

I add the as Subview collectionView in the HeightBar View. The collectionView set to only scroll Horizontal, when i scroll the collectionView on the top to next page, and scroll up or down the (ScrollView or TableView) than reload the collectionView an set the contentoffset.x to 0.

Has anyone an idea?

[2015-08-13 15:05] bryankeller commented on #44
When you go to the next screen, you can programmatically reset the progress of the bar. Perhaps that would help?

[2015-08-17 10:39] karadis commented on #4
It still crashes on ios7 for me. Any updates on the matter?
i'm using a UIView that inherits from BLKFlexibleHeightBar, and has its own NIB.
getting this error: <reason: 'Auto Layout still required after executing -layoutSubviews. WTHomeHeaderView's implementation of -layoutSubviews needs to call super.'>

[2015-08-17 20:24] kedio commented on #4
@karadis I get the same error on ios7 and I have not found a work around. Any help appreciated.

[2015-09-02 12:21] LucasAdam opened #45 "Starting to scroll from the bar"
Hello,

First of all great library ! That being said, would it be possible to start the process of stretching the bar, as you start scrolling from that bar itself. I hope you get me, now it only works (at least for me) if i start scrolling from what's below my bar, not from the bar itself.

Thanks :)

[2015-09-04 09:02] caofei10119 opened #46 "support AutoLayout"
awesome library! when do you plan to support AutoLayout? I can't wait to see

[2015-09-08 05:49] bryankeller commented on #46
Given my current schedule with school and work, I don't have any plans to add support for autolayout. Pull requests are welcome, however!

[2015-09-08 05:49] #46 closed

[2015-09-08 05:51] bryankeller commented on #45
I'm not sure if I completely understand your issue, but I'll take a guess. Setting `userInteractionEnabled` to `NO` on the `BLKFlexibleHeightBar` instance will allows touches to pass through to your scroll view. Let me know if this fixes it for you!

[2015-09-12 05:10] lekksi commented on #4
+1, having the error on iOS7, iOS8 works well.

[2015-09-12 05:37] lekksi commented on #4
Ok, I found a workaround (suboptimal though): I don't define any BLKFlexibleHeightBarSubviewLayoutAttributes on iOS 7 and I'm setting clipsToBounds = YES to hide the top bar subviews when the container view slides into hiding. I hope this helps.

[2015-09-14 09:58] LucasAdam commented on #45
It does indeed work using userInteractionEnabled set to NO. But the thing is, I actually need the interactions enabled on my bar because I do stuff according to these interactions. Anyway, nothing much you can do I guess. Thanks ;)

[2015-09-16 10:20] siralexmu opened #47 "ScrollView setContentOffset not working after setup BLKFlexibleHeightBar."
Hi all,
    I have created a view pager with a ScrollView embedded in a BLKFlexibleHeightBar like ones on Android. The scrollview contains many tabs. The custom bar work great: pages with root view are tableview(s) or scrollview(s) scroll and the bar go up and down as expected. But I have a small problem: I can't update the scrollview contentOffset after the bar setup completely. If I set the scro

[2015-09-16 18:56] bryankeller commented on #45
You should be able to implement some custom logic for that by subclassing `BLKFlexibleHeightBar` and doing your own hit tests. It might actually be wise for this functionality to be built in since I imagine many people would like it to behave this way.

[2015-09-17 04:07] siralexmu commented on #47
I solved it by tweaking the scrollview center.

[2015-09-17 04:07] #47 closed

[2015-10-11 20:39] trevisthomas commented on #42
I'm pretty new to Swift and iOS and I spent a lot of hours to come to the conclusion that the break was with this class.  Modifying the BLKDelegateSplitter class to conform to the UITableViewDelegate protocol fixed it for me.  I have the demo running now with a Swift based view controller.

[2015-10-20 09:13] rafalkitta commented on #42
@trevisthomas  could you show your BLKDelegateSplitter conformation to the UITableViewDelegate?

[2015-10-20 11:56] trevisthomas commented on #42
Just edit the BLKDelegateSplitter.h file. Replace the @implementation declaration at line 29 with:

@interface BLKDelegateSplitter : NSObject <NSObject, UITableViewDelegate>

[2015-10-21 13:32] rafalkitta commented on #42
Thank you for your response. You're right.
Also @rabzu Demo in Swift pull request https://github.com/bryankeller/BLKFlexibleHeightBar/pull/20 was very helpful.

[code]

[2015-10-28 07:20] hashemp206 commented on #45
implementing that is fair easy:
* following this scenario you have a tableview with many rows and you have your custom flexible header.
1. add top inset equal to your flexibleHeader height to your tableView.
2. place your custom flexibleHeader below your tableView so CFH can be visible beneath tableView
 now when you swipe you finger on CFH you are actually swiping on the tableView

* second scena

[2015-10-28 07:29] hashemp206 opened #48 "Fast swiping down cause flexibleHeader not take effect immediately"
when I scroll down slowly my custom flexible header smoothly comes down. but when I scroll down fast, flexible header stuck in its place! I don't see this effect when I scroll up fast.
here is the gif:
![scroll](https://cloud.githubusercontent.com/assets/3206748/10782129/df3abfa0-7d62-11e5-8b43-ddc28c3df5b5.gif)

my workaround is override setProgress: in my custom flexible header and reposition im

[2015-10-29 11:25] aki263 opened #49 "Problems synchronising the bar with table view scrolling."
I am not able to synchronising my tableview with the scrolling of the appbar.
I am new into ios developement and only use programming(no interface builders or storyboard), so I need to Know amethod by which i can change the  'y' of the frame of my table w.r.t. the bar size changes , maybe a delegate method.

here is alittle snippet....

myBar = [[BLKFlexibleHeightBar alloc] initWithFrame:CGRectMak

[2015-11-01 16:59] Tgy31 commented on #42
Hi rafalkitta,

I tried with your extension so I don't get the compiler error. But at run time, the `BLKDelegateSplitter` does not forward the calls to any of its sub-delegates.

Have you modify anything else to make it work ? I use Swift 2.0

[2015-11-01 18:00] Tgy31 commented on #42
It appeared I have to make a strong reference to the splitter because `tableView.delegate` is weak. Why splitter was just deallocated by ARC...

Works perfectly now, great component !

[2015-11-07 06:28] gantoday opened #50 "does not work with swift ?"
I have tested BLKFlexibleHeightBar in my project, but it just no effect.
And i could not find the reason. Could anyone help me? Many thanks!!

my viewController:

[code]

[2015-11-11 17:23] kedio opened #51 "Broken indicator insets when Bar is not a UITableView subviews"
If the BLKFlexibleHeightBar and a UITableView are subviews of a plain old UIViewController as suggested in the README and opposed to what is displayed in the demo (BLKFlexibleHeightBar is subview of UITableView) the scroll bar on the side have the wrong insets.

I think that the last fix from #33  is working when Bar are subviews of UITableView, but it is now broken if you use a Bar alongside a UI

[2015-11-11 18:42] kedio commented on #51
Seems I was setting constraints so my tableView would start just under the FlexibleHeightBar, but it seems it is intended as #33 that the FlexibleHeightBar must overlay the tableView and a contentInset must be set.
[code]
With this it is working as intended it even fixed some flickering I was experiencing while scrolling. The doc should just be more expressive about this fact.

[2015-11-24 05:39] lichuanjun opened #54 "problem with elasticMaximumHeightAtTop when I need a negative progress"
Firstly, thank you for this great work, it helps me a lot.We know that `elasticMaximumHeightAtTop` determine whether can stretch to larger sizes than it's `maximumBarHeight`,so that,  a negative progress.
As code in - (void)setProgress:(CGFloat)progress;
[code]
However,code in layoutSubviews did the  opposite thing.
[code]
the result is  a negative progress will be changed to 0.0 when layoutSubvie

[2015-11-26 03:20] EZElkins opened #55 "Something wrong with BLKFlexibleHeightBar when I put scrollView into it"
When scrollView scroll to other page and I scroll tableView,scrollView will always scroll to first page...

[2015-11-26 18:24] serralvo commented on #55
Hi @EZElkins, this behavior happen in collection view (as subview of BLKFlexibleHeightBar) too.

[2015-12-08 23:36] DomiR commented on #50
`self.tableView.delegate = myBar.behaviorDefiner as? UITableViewDelegate` was not working for me... optional downcast gave back nil. I made my own delegate splitter that returns UITableViewDelegate.

[2016-01-19 07:55] brycezhang commented on #39
@dorinsimina you can try to add this code in the dealloc method
[code]

[2016-02-25 03:23] caiyue1993 commented on #39
@brycezhang   Thanks a lot. I have the same problem and it works as you suggested.

[2016-04-05 07:07] KittenYang opened #58 "Why use delegate rather than KVO contentOffset/contentSize?"
So it's no need to use delegate splitter.

[2016-04-06 05:25] jovito-royeca opened #59 "Usage inside NavigationViewController"
I have a UITabBarController with view controllers embedded in NavigationViewControllers.

Can I use this in a view controller embedded in a NavigationController inside a TAbBarController?

[2016-06-13 10:44] pomarec commented on #43
Have a look at https://github.com/aleph7/MultiDelegate if you need more than 2 delegates

[2016-06-13 10:47] pomarec commented on #34
@liuxuan30 I think what you say is incorrect.
My guess @WilliamHua is that the delegate property of your tableview is weak, thus you need to keep a strong reference to BLKDelegateSplitter somewhere

[2016-08-12 14:19] cojoj opened #60 "FacebookStyleBarBehaviorDefiner with pagination"
So we have `UITableView` which is used in our app and `FacebookStyleBarBehaviorDefiner` perfectly matches our requirements, but we have one issue...
Our `UITableView` is aable to load more stuff - pagination. While we load new page `contentOffset` changes and `BLKFlexibleHeightBar` is presented out of nothing, which creates this _weird_ behavior.

Looks like this code is responsible for what's hap

[2016-08-23 05:26] hy9be opened #61 "Carthage support"
@bryankeller Any thoughts to support carthage dependency management?

[2017-03-16 05:56] SidduIOS opened #62 "issue with add subview my custom UIView can any one help me on this"
this is my code

    UIImageView *collageImage =[[UIImageView alloc]init];
    collageImage.frame= collageView.bounds;
    collageImage.image=[UIImage imageNamed:@"stevejobs.jpg"];
    [collageView addSubview: collageImage];

[2017-03-16 08:12] #62 closed

[2017-03-28 13:01] armandooj commented on #55
I just had that same issue and putting my UIScrollView inside an UIView did the trick.

[2017-06-16 01:40] misscxuan opened #64 "When I use BLKFlexibleHeightBar in a UIWebview, the webview can't display properly."
When I scroll webview, it shows like this:
![simulator screen shot 2017 6 16 9 33 24](https://user-images.githubusercontent.com/17959278/27208299-82617648-5277-11e7-87e6-e8784abe6978.png)
![default](https://user-images.githubusercontent.com/17959278/27208344-b5989e7e-5277-11e7-9b53-25d8de23f2d5.gif)

[2017-12-28 10:01] harshilkotecha commented on #42
add this extension to solve this issue this is work for me
extension BLKFlexibleHeightBarBehaviorDefiner :UITableViewDelegate{

}

[2017-12-28 10:01] harshilkotecha commented on #50
add this extension to solve this issue this is work for me
extension BLKFlexibleHeightBarBehaviorDefiner :UITableViewDelegate{

}

[2017-12-28 16:14] gantoday commented on #50
Two years.

[2018-04-02 15:31] fukemy opened #65 "Use library in tabbar?"
Hi. Thanks you for great library. I need use it in a child of tabberController, but it not work as expect.
Thanks you

[2018-04-03 09:23] ankushkushwaha opened #66 "Bar overlaps with native status-bar on iPhone X"

[2018-04-03 11:08] #66 closed

[2018-04-10 08:42] ankushkushwaha opened #67 "How to change actual height (frame) of BLKFlexibleHeightBar?"
I am using BLKFlexibleHeightBar in my application which supports all device orientations in iPhone X. When I go from portrait to landscape mode, I want to adjust bar height (want to make smaller). Apparently, I am not able to change the height after initialization.

Any help?

[2018-11-27 21:21] abdallahnh commented on #22
Hi All,

I have same issue when i'm using FlexibleHeader ios material design,
when tableview contentInset changed and you need to programmatically scrollto a section the first row of that section will scroll to the contentInset top value. i tried almost everything with no success so if anyone has a solution for this please let me know